body {
    font-family: sans-serif;
    background-color: #3333333a !important;


  }
  
  canvas {
    width: 200px;
    height: 300px;
    border: 1px solid black;
  }
  
  #palabra {
    font-size: 24px;
    text-align: center;
  }
  
  #formulario {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  #formulario label {
    font-size: 18px;
  }
  
  #formulario input[type="text"] {
    width: 40px;
    font-size: 18px;
    text-align: center;
  }
  
  #formulario input[type="submit"],
  #desistir {
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 10px;
  }